# Some file types
*.h5
*.hdf5
*.zip
*.png
*.txt
*.fits
*.csv
*.npy

# Build folder
diffracc.egg-info/

# IDE folders
.vscode/
.idea/

# idk why this is here
galaxy_data/
jobs/
sky_maps

# Certain req folders too large for repo
analysis_results/
image_data/
model_results/
fits_images*/
maxvals/
nparrays/
pybdsf_catalogs*/
dr2_cutouts*/
pybdsf*/

# Local file parameters
diffracc/utils/parameters_local_override.py

# Temporary files
*.log
*.out
wandb/
**/__pycache__/
*test.sh
flagfiles/

# Python virtual environments
.venv/
venv/
