[DEFAULT]
;size of the bins to segment generated and dataset images into, or None to do no binning
BIN_SIZE = 10000 

### dataset parameters ###
;subdirectory for the Vicanek Martinez et al. 2024 cutouts
VM_DATASET_SUBDIR = dataset
;how many fits images from the VM dataset to convert, or None to convert all
VM_FITS_COUNT_CUTOFF = None

### generation parameters ###
;subdirectory to save generated images to
GENERATED_SUBDIR = generated
;batch size for image generation, to avoid OOM errors
BATCH_SIZE = 100
;number of timesteps to use in image generation
TIMESTEPS = 25
;whether or not to use the CPU for image generation instead of attempting to use CUDA
USE_CPU = False
;the number of samples to generate
N_SAMPLES = 10000
;whether or not to preserve image values on generation. If false images are scaled 0-1
PRESERVE_VALUES = True
;the name of the model to use to generate the images, as stored in model_results/<NAME>_model/parameters_<NAME>_model.pt and the associated config
MODEL_NAME = LOFAR
;the distribution of peak fluxes of the generated images, one of dataset, loguniform, or uniform
DISTRIBUTION = dataset
;upper bound of peak flux (Jy/beam) for uniform/loguniform generation
UPPER_BOUND = 0
;lower bound of peak flux (Jy/beam) for uniform/loguniform generation
LOWER_BOUND = 0

[dataset_distribution]
GENERATED_SUBDIR = generated_datadist
N_SAMPLES = 50000
DISTRIBUTION = dataset

[loguniform_distribution]
GENERATED_SUBDIR = generated_loguniform
N_SAMPLES = 100000
UPPER_BOUND = 1e1
LOWER_BOUND = 1e-7
DISTRIBUTION = loguniform

[uniform_distribution]
GENERATED_SUBDIR = generated_uniform
N_SAMPLES = 100000
UPPER_BOUND = 1e1
LOWER_BOUND = 1e-7
DISTRIBUTION = uniform


[no_gpu]
USE_CPU = True
BATCH_SIZE = 1
VM_FITS_COUNT_CUTOFF = 10
N_SAMPLES = 5